.impress
	background: url('../img/impress_bg.jpg') center center no-repeat
	background-attachment: fixed
	background-size: cover
.impress_wrap
	text-align: left
	h1
		color: #fff
	p
		width: 50%
		margin-bottom: 20px
.director
	h4,
	h5
		font-size: 14px
		line-height: 14px
		color: #81868e
		text-transform: uppercase
		letter-spacing: 1px
	h4
		font-family: $default-bold
		margin-bottom: 10px
	h5
		font-family: $default-font
		span
			color: #19bd9a