.news
	background: url('../img/news_bg.jpg') no-repeat center center
	background-attachment: fixed
	background-size: cover
	h1,
	h2,

		color: #fff
p.new
		color: #b2b3b3
		width: 45%
.news_wrapper
	max-height: 360px
	width: 90%
	display: flex
	flex-direction: column
	align-items: flex-start
	margin: 100px auto 0
	position: relative
.news_descr_wrap
	width: 60%
	text-align: left
	h2
		font-size: 20px 
		line-height: 20px
		font-weight: 400
		margin-bottom: 10px
	h4
		font-size: 14px 
		line-height: 14px
		font-weight: 400
		font-style: italic
		text-transform: uppercase
		color: #81868e
		margin-bottom: 12px
		span
			color: #19bd9a
	h5
		color: #464646
		margin-bottom: 50px
	a.more
		display: block
		font-size: 16px
		line-height: 16px
		text-decoration: none
		color: #b2b3b3
		position: absolute
		left: 0
		bottom: 20px
		&:hover
			text-decoration: underline
	p
.swiper-slide
	overflow: hidden
.hide
	display: none
.news_popup_wrap
	position: relative
	background: #fff
	width: 50%
	margin: 0 auto
	padding: 40px
	overflow: hidden
.news_popup_desc
	display: flex
	flex-direction: column
	align-items: center
	h1,
	p
		color: #b2b3b3

