.news
	background: url('../img/news_bg.jpg') no-repeat center center
	background-attachment: fixed
	background-size: cover
	h1,
	h2,

		color: #fff
	p.news
		color: #b2b3b3
		width: 45%
.news_wrapper
	width: 90%
	display: flex
	flex-direction: column
	align-items: flex-start
	margin: 100px auto 0
.news_descr_wrap
	width: 47%
	text-align: left
	h2
		font-size: 20px 
		line-height: 20px
		font-weight: 400
		margin-bottom: 10px
	h4
		font-size: 14px 
		line-height: 14px
		font-weight: 400
		font-style: italic
		text-transform: uppercase
		color: #81868e
		margin-bottom: 12px
		span
			color: #19bd9a
	h5
		color: #464646
		margin-bottom: 50px
	a.more
		display: block
		font-size: 16px
		line-height: 16px
		text-decoration: none
		color: #b2b3b3
		margin-top: 50px
