.price
	background: #f3f3f3
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	text-align: center
.price__wrap
	width: 70%
	display: flex
	flex-direction: row
	justify-content: space-between
	margin: 60px auto 0
.price_item
	background: #fff
	width: 30%
	min-height: 300px
	display: flex
	flex-direction: column
	justify-content: flex-start
	align-items: center
	position: relative
	cursor: pointer
	overflow: hidden
	&:hover
		.price_hidden
			transform: translateY(0px)
.price_name
	background: #19bd9a
	width: 100%
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	padding: 25px 0
	h1
		font-family: $default-bold
		font-size: 20px
		line-height: 20px
		color: #fff
		margin: 0
.price_perc
	margin-top: 70px
	h1
		font-size: 20px
		line-height: 20px
		text-transform: none
		letter-spacing: 1px
		color: #81868e
		margin: 0
.perc
	display: block
	font-family: $source-black
	font-size: 42px
	line-height: 42px
	color: #19bd9a
	margin-bottom: 10px
.price_hidden
	background: #fff
	position: absolute
	top: 0
	left: 0
	width: 100%
	min-height: 300px
	display: flex
	flex-direction: column
	justify-content: flex-start
	align-items: left
	padding: 35px 35px 100px
	transform: translateY(-300px)
	+transit(all, 0.7s, ease-in-out)
	a
		font-size: 16px
		line-height: 16px
		color: #fff
		text-decoration: none

.hidden
	position: absolute
	bottom: 0
	left: 0
.price_points
	list-style: none
	text-align: left
	li
		font-family: $default-font
		font-size: 14px
		line-height: 27px
		color: #81868e
		letter-spacing: 1px

