.services
	background: #f3f3f3	
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	text-align: center
.services_wrap
	display: flex
	flex-direction: row
	justify-content: center
	align-items: center
.serv_icons
	.pe-7s-tools,
	.pe-7s-paint,
	.pe-7s-joy,
	.pe-7s-plug
		background: #81868e
		width: 54px
		height: 54px
		border-radius: 50%
		font-size: 30px
		line-height: 50px
		color: #fff
		margin-right: 20px